{% extends 'base.html' %}

{% block title %}

    {{title}}: {{block.super}}

{% endblock %}

{% block sidebar %}
<h1>{{header}}</h1>
{% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
    {% for item in object_list %}
     <div class="card mb-3">
         <div class="card-header">
             Ресурс: {{item.resource}}
         </div>
         <div class="card-body">
                     <a href="{{item.get_absolute_url}}">
                         <h5 class="card-title">{{item.title}}</h5>
                     </a>
                        {{item.date|date:"Y-m-d H:i"}}
                 </div>
             </div>

     {% empty %}
     <p>No content</p>
     {% endfor %}
{% endblock %}