{% extends 'base.html' %}

{% block title %}

    {{header}}: {{block.super}}

{% endblock %}

{% block sidebar %}
<h1>{{object.title}}</h1>
{% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Ресурс: <a href="{{object.resource.get_absolute_url}}">{{object.resource}}</a>
        <br>
        Дата публикации статьи: {{object.date|date:"Y-m-d H:i"}}
    </div>
    <div class="card-body">
        <div class="media">
            <div class="media-body">
                <h5 class="card-title">{{object.title}}</h5>
                <p class="card-text">{{object.text|linebreaks}}</p>

                <p align="right">
                    <a href={{object.url}} class="btn btn-outline-secondary" style="float:left">Перейти на источник</a>
                    {% if archive == request.user.id %}
                    <a href="{% url 'parse:delete_archive' object.pk %}" class="btn btn-outline-danger">Удалить из архива</a>
                    {% else %}
                    <a href="{% url 'parse:add_archive' object.pk %}" class="btn btn-outline-primary">Добавить в архив</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <br>
        <span style="float:left">Дата последнего сохранения: {{object.date_update|date:"Y-m-d H:i"}}</span>
        <span style="float:right"><a href="{% url 'parse:update' object.pk %}" class="btn btn-outline-success">Обновить</a></span>
    </div>
</div>
{% endblock %}
